# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
*.env

# Quarto/Knitr cache and output
*.nb.html
*.Rproj.user/
.Rhistory
.RData
.Ruserdata
.DS_Store

# Quarto render artifacts
_site/
_files/
*.js
*.css
*.html
*.pdf

# Jupyter/VSCode
.ipynb_checkpoints/
.vscode/

*.woff
*.woff2
